.site-header {
    background-image: url('/images/header/header-banner.jpg');
    @include background(center, no-repeat, cover);
    height: 100vh;
}

.site-nav_menu {
    display: none;
}

.site-nav_logo {
    padding: 20px 0;
    height: 60%;
    @include flexBox(row);
    justify-content: center;
    position: relative
}

.nav_respo-trigger {
    display: block;
    width: 10vw;
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 20px;
    color: #002347;
}

.site-header_content {
    text-align: center;

    & h4 {
        padding: 120px 0 20px 0;
        @include h4Style();
    }

    & h2 {

        color: $firstColorFont;
        font-weight: 600;

    }
}

.site-header_btn {
    margin-top: 20px;
    @include btn-style($colorFirstFontBtn, $colorFirstBtn, 120px, 48px);
}

.site-header_btn2 {
    margin-top: 10px;
    @include btn-style($colorSecondFontBtn, $colorSecondBtn, 120px, 48px);
}


@include breakpoint(small_v2) {
    .site-header_btn {
        @include btn-style($colorFirstFontBtn, $colorFirstBtn, 150px, 48px);
    }

    .site-header_btn2 {
        margin-top: 10px;
        @include btn-style($colorSecondFontBtn, $colorSecondBtn, 150px, 48px);
    }
}

@include breakpoint(medium) {
    .site-nav_logo {
        height: 100%;
    }

    .site-nav_menu {
        display: block;
    }

    .nav_respo-trigger {
        display: none;
    }

    .site-nav {
        @include flexBox(row);
        justify-content: space-between;
        padding: 0 80px;
    }

    .site-nav_menu {
        @include flexBox(row);
        align-self: center;
    }

    .site-nav_menu-trigger-link {
        text-decoration: none;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        color: $firstColorFont;
    }
}

@include breakpoint(large) {

    .site-nav {
        padding: 0 180px;
    }

    .site-nav_menu-trigger-link {
        padding: 0 20px;
        font-size: 18px;
    }

}