@mixin background($position, $repeat, $size) {
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}

@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin h4Style() {
    color: #002347;
    font-weight: 600;
}

@mixin h3Style() {
    color: #002347;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px;
}



@mixin btn-style($color, $bgc-color, $width, $height) {
    font-weight: 600;
    letter-spacing: 1p;
    text-transform: uppercase;
    color: $color;
    background-color: $bgc-color;
    width: $width;
    height: $height;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;

}