$firstColorFont: #002347;
$secondColorFont: #7b838a;

$colorFirstBtn: #002347;
$colorSecondBtn: #fdc632;
$colorFirstFontBtn:#fdc632;
$colorSecondFontBtn:#002347;
$pFirstColor: #7b838a;
$sectionColor: #f9f9ff;

$paddingHeadingSection: 0px 30px 0px 30px;
$paddingNewSection: 50px 0 50px 0;