@import "variables";
@import "mixins";
@import "mediaQueries";
@import "reset";
@import "header";
@import "main";

body {
    font-family: "Rubik", sans-serif;
}

body {

    h1,
    h2,
    h3,
    h4 {
        text-align: center;
    }

    p {
        font-size: 15px;
        color: #7b838a;
    }

    @include breakpoint(small) {
        h2 {
            font-size: 35px;
        }

        h3 {
            font-size: 28px;
        }

        h4 {
            font-size: 20px;
        }
    }

    @include breakpoint(small_v2) {
        h2 {
            font-size: 43px;
        }

        h3 {
            font-size: 32px;
        }

        h4 {
            font-size: 22px;
        }
    }

    @include breakpoint(medium) {
        h2 {
            font-size: 48px;
        }
    }

    @include breakpoint(large) {
        h2 {
            font-size: 52px;
        }

        h3 {
            font-size: 34px;
        }
    }

    @include breakpoint(huge) {
        h2 {
            font-size: 58px;
        }
    }
}